<!-- //wants to display user details -->
<h3>Search</h3>
<form (ngSubmit)='submitUser()'>
  <input type="text" class="form-control" placeholder="Search ....." [(ngModule)]='search' name="search">
  <input type="submit" value="Submit" class="btn btn-outline-primary">
</form>
<hr>
<h3>User Details</h3>
<button (click)='displayUserDetails()'> Display</button>
<!-- //brackets for binding -->
<p>Login Name {{holduserDetails.login}}</p>
<a href="{{holduserDetails.repo_url}}"></a>
<img src="{{holduserDetails.avatar_url}}">
<p>{{holduserDetails.name}}</p>

<hr>
<h3>User Repos</h3>
<button (click)='displayUserDetails'>Display</button>
<router-outlet></router-outlet>
